<div class="proflePageContainer">
  <app-header
    style="display: flex; align-items: center; width: 90%; margin-bottom: 50px"
  />
  <div class="profileButtons" *ngIf="userId !== _userData.getUserId">
    <button *ngIf="friendsCondition === 'No'" (click)="sendFriendRequest()">
      Add Friend
    </button>
    <button
      *ngIf="friendsCondition === 'Reciever'"
      (click)="acceptFriendRequest()"
    >
      Accept
    </button>
    <button
      *ngIf="friendsCondition === 'Sender' || friendsCondition === 'Reciever'"
      (click)="cancelFriendRequest()"
    >
      Cancel
    </button>
    <button (click)="this.showChatModel=true">Chat</button>
  </div>
  
  <ng-container *ngFor="let p of posts"
  ><app-single-posot
    [singlePost]="p"
    (updateUserFeed)="getUserPosts()"
    style="max-width: 800px; width: 100%;"
  ></app-single-posot
></ng-container>


</div>


<app-chat [userId]="this.userId" *ngIf="showChatModel" (closeChat)="this.showChatModel=false" />


