<div class="homePageContainer">
  <app-header
    style="display: flex; align-items: center; width: 90%; margin-bottom: 50px"
  ></app-header>
  <div class="homePageContent">
    <div class="writePostContainer">
      <input placeholder="Wite Post..." (click)="this.showCreatePost = true" />
    </div>

    
    <ng-container *ngFor="let p of posts"
      ><app-single-posot
        [singlePost]="p"
        (updateUserFeed)="getUserFeed()"
        style="width: 100%"
      ></app-single-posot
    ></ng-container>
  </div>
</div>

<ng-container
  ><app-write-post
    *ngIf="showCreatePost"
    (closeWritePost)="this.showCreatePost = false"
    (getUserFeed)="getUserFeed()"
  ></app-write-post
></ng-container>


