.homePageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #eee;
    min-height: 100vh;
}
.homePageContent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    max-width: 800px;
    margin-bottom: 50px;
}
.writePostContainer{
    display: flex;
    width: calc(100% - 100px);
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 50px 50px;
    border-radius: 20px;
}
.writePostContainer>input{
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;
    height: 40px;
    font-size: 18px;
}



@media screen and (max-width:500px){
    .writePostDiv>textarea{
        height: 100px !important;
    }
    .postForCommentOuter{
        height: 300px;
    }
}
